@import "../variables"

.works
  padding-top: 100px
  padding-bottom: 50px

.works-container
  padding-top: 80px
  max-width: 1600px
  justify-content: center
  flex-wrap: wrap


.works-item
  max-width: 320px
  position: relative

  &:hover
    .overlay
      opacity: 0.7

.work_item_overlay_headline
  color: #f2f2f2
  font-family: "Montserrat", sans-serif
  font-size: 15px
  font-weight: 700
  line-height: 20px
  text-transform: uppercase

.work_item_overlay_text
  margin-top: 10px
  color: #f2f2f2
  font-family: "Montserrat", sans-serif
  font-size: 13px
  font-weight: 400
  line-height: 15px


