
//FONT//
$font_default: "Montserrat", serif
$font_default_2: "Open Sans", sans-serif
//COLOR//

/* COLOR TEXT */
$color_text_x: #000 /* FULL BLACK */
$color_text_y: #fff /* FULL WHILE */
$color_text_z: #777777 /* SILVER */

/* COLOR BACKGROUND */
$background_x: #fff /* FULL WHITE */
$background_y: #f5f5f5 /* SILVER */
